<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Star Dance Academy</title>
    script(src='../static/script.js')
    style
        include ../static/style.css

    <!--USING css from bootsrap -->
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css' rel='stylesheet'
    integrity='sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65' crossorigin='anonymous')


</head>


<body>
    <nav class="navbar navbar-expand-lg fixed-top p-0" id="navbar">
        <div class="container-fluid">
            <a class="navbar-brand  text-danger" href="/" id="head1">
                <img class="mb-2" src="https://cdn-user-icons.flaticon.com/68921/68921235/1671531935399.svg?token=exp=1671619442~hmac=1c45c2129c0e4c246a8a930cd72e47be"  alt="..." style="height:40px;"> Star Dance Academy</a></a>
            <button class="navbar-toggler" type="button"  data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end text-bg-light" tabindex="-1" data-bs-dismiss="offcanvas" id="offcanvasDarkNavbar" data-bs-scroll="true" aria-labelledby="offcanvasDarkNavbarLabel" style="width: 260px;">
              <div class="offcanvas-header">
                <h5 class="offcanvas-title text-danger" id="head1">Star Dance Academy</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="offcanvas-body">
                <ul class="navbar-nav nav mb-lg-0 mb-2 justify-content-center flex-grow-1">
                    <li class="nav-item px-2">
                        <a class="nav-link active  text-danger" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item  px-2">
                        <a class="nav-link  text-danger"  onclick="about()" style="cursor: pointer;">About</a>
                    </li>
                    <li class="nav-item  px-2">
                        <a class="nav-link text-danger"  onclick="service()" style="cursor: pointer;">Services</a>
                    </li>
                    <li class="nav-item  px-2">
                        <a class="nav-link text-danger"  onclick="Class()" style="cursor: pointer;">Class Info</a>
                    </li>
                    <li class="nav-item px-2">
                        <a class="nav-link text-danger" href="/contact">Contact Us</a>
                    </li>
                </ul>
                <a class="d-flex text-decoration-none text-danger ms-lg-5 me-lg-3 mt-2 mb-lg-0 mb-3" id="gmail" href="#" style="font-family: 'Shadows Into Light', cursive;">
                    <svg class="me-2 mt-1" xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="gray"
                        | class="bi bi-envelope" viewBox="0 0 16 16">
                        <path 
                        |    d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z" />
                    </svg>
                    | Stardance@gmail.com
                </a>
            </div>
        </div>
    </nav>
    
    
    <div class="container d-flex text-center p-5  align-items-center justify-content-center" style="height: 620px;">
        
        <h6 class="alert alert-success display-5 bg-body border-0">
        |    Your Form Has Been Submitted Successfully.
        </h6>
    </div>







    <!-- Using javascript form bootstrap -->
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js'
    integrity='sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4' crossorigin='anonymous')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->

    <!-- script -->


</body>

</html>